body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#filtered-players-table {
    width: 100%;
    margin-top: 20px;
}

#filtered-players-table th, #filtered-players-table td {
    padding: 10px;
    border: 1px solid #ddd;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    position: relative;
}

th span {
    display: flex;
    align-items: center;
}


th button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    vertical-align: middle; 
    margin-left: 5px;
}

th, td {
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

.sort-button {
    margin-left: 5px;
    cursor: pointer;
}



















